table {
	border-collapse: collapse;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.10),
     0px 20px 30px rgba(0,0,0,0.05),
     0px 30px 30px rgba(0,0,0,0.05),
     0px 40px 30px rgba(0,0,0,0.05);
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
	background-color: rgb(0, 230, 118);
}

#boldTD {
	font-weight: bold;
}

tr:hover{
	background-color:#f5f5f5;
}

body {
	background: rgb(178, 192, 234);
	font-family: 'Open Sans', sans-serif;
}

canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

#firstChart, #secondChart, #thirdChart {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}

#wrapper {
	display: flex;
	margin-top: 50px;
}

#firstChart {
		border: 1px;
}

#secondChart {
		border: 1px;
}

#thirdChart {
	border: 1px;
}

h1 {
	text-align: center;
}

.oval-thought-border {
  position:relative;
  padding:70px 30px;
  margin:1em auto 80px;
  border:10px solid #e74c3c;
  text-align:center;
  color:#333;
  background:#fff;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.10),
     0px 20px 30px rgba(0,0,0,0.05),
     0px 30px 30px rgba(0,0,0,0.05),
     0px 40px 30px rgba(0,0,0,0.05);
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border:before {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  right:100px;
  width:50px;
  height:50px;
  border:10px solid #e74c3c;
  background:#fff;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.10),
     0px 20px 30px rgba(0,0,0,0.05),
     0px 30px 30px rgba(0,0,0,0.05),
     0px 40px 30px rgba(0,0,0,0.05);
  /* css3 */
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
  content:"";
  position:absolute;
  z-index:10;
  bottom:-60px;
  right:50px;
  width:25px;
  height:25px;
  border:10px solid #e74c3c;
  background:#fff;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.10),
     0px 20px 30px rgba(0,0,0,0.05),
     0px 30px 30px rgba(0,0,0,0.05),
     0px 40px 30px rgba(0,0,0,0.05);
  /* css3 */
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  /* reduce the damage in FF3.0 */
  display:block;
}

#handyImage {
	mix-blend-mode: multiply;
	float: right;
}

.ribbon {
   width: 600px;
   position: relative;
   text-align: center;
   font-size: 24px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   margin: 0 auto;
   }
.ribbon h1 {
   font-size: 49px!important;
   color: #801111;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

#readMe {
	background-color: rgb(178, 192, 255);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.10),
     0px 20px 30px rgba(0,0,0,0.05),
     0px 30px 30px rgba(0,0,0,0.05),
     0px 40px 30px rgba(0,0,0,0.05);
}

#textReadMe {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
