<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handyWeb.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
<title>Hands Don't Lie</title>
</head>
<body>
<h1>Handy</h1>
<p>The Handy Body-Language Processor</p>
<div id="wrapper">
    <div id="firstChart"><canvas id="myChart" width="300" height="300"></canvas></div>
    <div id="secondChart"><canvas id="myChart2" width="300" height="300"></canvas></div>
</div>

<h1>Hand Movement Data</h1>
<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Message Feedback</th>
    <th>Numerical Feedback</th>
  </tr>
  <tr>
    <td>Horizontal Speed</td>
    <td>The average speed at which your hands moved horizontally.</td>
    <td>{{ x_speed_mes }}</td>
    <td>{{ x_speed }}%</td>
  </tr>
  <tr>
    <td>Vertical Speed</td>
    <td>The average speed at which your hands moved vertically.</td>
    <td>{{ y_speed_mes }}</td>
    <td>{{ y_speed }}%</td>
  </tr>
  <tr>
    <td>Palm Openness</td>
    <td>How open you kept your palms throughout speech.</td>
    <td>{{ openness }}</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Amount of Times Pointed</td>
    <td>The amount of times you pointed during your speech.</td>
    <td>{{ finger_message }}</td>
    <td>{{ badFingerCounter }}</td>
  </tr>
  <tr>
    <td>Percent Sweet Spot</td>
    <td>The percent of total time your hands spent in the well-established sweet spot.</td>
    <td>{{ sweetness }}</td>
    <td>{{ sweet_spot }}%</td>
  </tr>
</table>

<script>
    var xData = {
        datasets: [{
            data: [{{ x_speed_array[0] }}, {{ x_speed_array[1] }}, {{ x_speed_array[2] }}],
            backgroundColor: [
                    'rgb(255, 0, 0)',
                    'rgb(255, 255, 0)',
                    'rgb(0, 0, 255)'
        ]
        }],

        labels: [
            'Red',
            'Yellow',
            'Blue'
        ]
    };

    var yData = {
        datasets: [{
            data: [{{ y_speed_array[0] }}, {{ y_speed_array[1] }}, {{ y_speed_array[2] }}],
            backgroundColor: [
                    'rgb(255, 0, 0)',
                    'rgb(255, 255, 0)',
                    'rgb(0, 0, 255)'
        ]
        }],

        labels: [
            'Red',
            'Yellow',
            'Blue'
        ]
    };

    var ctx = document.getElementById("myChart").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: xData,
    options: {
            responsive: false,
            maintainAspectRatio: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'x-speed'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });

    var ctx = document.getElementById("myChart2").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: yData,
    options: {
            responsive: false,
            maintainAspectRatio: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'y-speed'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });

</script>

</body>
</html>
