<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handyWeb.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<title>Hands Don't Lie</title>
</head>
<body>
<div class="ribbon">
    <div class="ribbon-stitches-top"></div>
        <strong class="ribbon-content"><h1>Handy</h1></strong>
    <div class="ribbon-stitches-bottom"></div>
</div>

<div id="wrapper">
    <div id="firstChart"><canvas id="myChart" width="300" height="300"></canvas></div>
    <div id="secondChart"><canvas id="myChart2" width="300" height="300"></canvas></div>
    <div id="thirdChart"><canvas id="myChart3" width="700" height="300"></canvas></div>
</div>
<hr>
<h1>Hand Movement Data</h1>
<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Message Feedback</th>
    <th>Numerical Feedback</th>
  </tr>
  <tr>
    <td id="boldTD">Horizontal Speed</td>
    <td>The percentage of time your hands moved at the proper speed horizontally.</td>
    <td>{{ x_speed_mes }}</td>
    <td>{{ x_speed }}%</td>
  </tr>
  <tr>
    <td id="boldTD">Vertical Speed</td>
    <td>The percentage of time your hands moved at the proper speed vertically.</td>
    <td>{{ y_speed_mes }}</td>
    <td>{{ y_speed }}%</td>
  </tr>
  <tr>
    <td id="boldTD">Palm Openness</td>
    <td>How open you kept your palms throughout speech.</td>
    <td>{{ message_open }}</td>
    <td>{{ open_avg }} degrees</td>
  </tr>
  <tr>
    <td id="boldTD">Amount of Times Pointed</td>
    <td>The amount of times you pointed during your speech.</td>
    <td>{{ finger_message }}</td>
    <td>{{ badFingerCounter }} times</td>
  </tr>
  <tr>
    <td id="boldTD">Percent Sweet Spot</td>
    <td>The percent of total time your hands spent in the well-established sweet spot.</td>
    <td>{{ sweetness }}</td>
    <td>{{ sweet_spot }}%</td>
  </tr>
</table>
<hr>
<blockquote class="oval-thought-border">
        <p>Great job! Practice makes perfect. <br>Some of this body language may seem insignificant, but I promise, using the right hand gestures at the right time with the right gusto can make a world of a difference. Use Handy to get better with real time data on how you used your hands to speak! Then get out there and crush that next speech. <br>Good luck and have fun!</p>
</blockquote>

<div id='handyImage'><img src='http://www.washyourhandsofthem.com/documents/the-campaign/childrens-pack/childrenspack-handy-a6-print.aspx' alt='Handy the Hand'></div>

<script>
    var xData = {
        datasets: [{
            data: [{{ x_speed_array[0] }}, {{ x_speed_array[1] }}, {{ x_speed_array[2] }}],
            backgroundColor: [
                    'rgb(231, 76, 60)',
                    'rgb(0, 188, 212)',
                    'rgb(0, 230, 118)'
        ]
        }],

        labels: [
            'Idle',
            'Good',
            'Too Fast'
        ]
    };

    var yData = {
        datasets: [{
            data: [{{ y_speed_array[0] }}, {{ y_speed_array[1] }}, {{ y_speed_array[2] }}],
            backgroundColor: [
                    'rgb(231, 76, 60)',
                    'rgb(0, 188, 212)',
                    'rgb(0, 230, 118)'
        ]
        }],

        labels: [
            'Idle',
            'Good',
            'Too Fast'
        ]
    };

    var time_array = {{ time_counter }};
    var percent_array = {{ percent_sweet_array }};

    var ctx = document.getElementById("myChart").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: xData,
    options: {
            responsive: false,
            maintainAspectRatio: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Horizontal Speed'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });

    var ctx = document.getElementById("myChart2").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: yData,
    options: {
            responsive: false,
            maintainAspectRatio: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Vertical Speed'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });

    new Chart(document.getElementById("myChart3"), {
  type: 'line',
  data: {
    labels: time_array,
    datasets: [{
        data: percent_array,
        label: "Sweet Spot",
        borderColor: 'rgb(0, 188, 212)',
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Percent in Sweet Spot over Time'
    },
    scales: {
      xAxes: [{
        display: true,
        scaleLabel: {
            display: true,
            labelString: 'Time (Seconds)'
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
            display: true,
            labelString: 'Sweet Spot Percentage'
        }
      }]
    }
  }
});



</script>

</body>
</html>
