<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handyWeb.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
<title>Hands Don't Lie</title>


<canvas id="myChart" width="100" height="100"></canvas>
<script>
    var theData = {
        datasets: [{
            data: [10, 20, 30],
            backgroundColor: [
                    'rgb(255, 0, 0)',
                    'rgb(255, 255, 0)',
                    'rgb(0, 0, 255)'
        ]
        }],

        labels: [
            'Red',
            'Yellow',
            'Blue'
        ]
    };

    var ctx = document.getElementById("myChart").getContext('2d');
    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: theData,
    options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Chart.js Doughnut Chart'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    });
    /*var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Red",
                "Orange",
                "Yellow",
                "Green",
                "Blue"
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Chart.js Doughnut Chart'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    };*/
    /*$(document).ready(function(){
    var ctx = $("#mycanvas").get(0).getContext("2d");

    var data = [
      {
        value: 10,
        color: "cornflowerblue",
        highlight:"lightskyblue",
        label: "X Speed"
      },
      {
        value: 20,
        color: "lightgreen",
        highlight: "yellowgreen",
        label: "Y Speed"
      },
      {
        value: 30,
        color: "orange",
        highlight: "darkorange",
        label: "CSS"
      }
    ];

    var chart = new Chart(ctx).Doughnut(data)
});*/
</script>
</head>
<body>
<h1>Handy</h1>
<p>The Handy Body-Language Processor</p>

<h1>Hand Movement Data</h1>
<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Message Feedback</th>
    <th>Numerical Feedback</th>
  </tr>
  <tr>
    <td>Horizontal Speed</td>
    <td>The average speed at which your hands moved horizontally.</td>
    <td>{{ x_speed_mes }}</td>
    <td>{{ x_speed }}%</td>
  </tr>
  <tr>
    <td>Vertical Speed</td>
    <td>The average speed at which your hands moved vertically.</td>
    <td>{{ y_speed_mes }}</td>
    <td>{{ y_speed }}%</td>
  </tr>
  <tr>
    <td>Palm Openness</td>
    <td>How open you kept your palms throughout speech.</td>
    <td>{{ openness }}</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Amount of Times Pointed</td>
    <td>The amount of times you pointed during your speech.</td>
    <td>{{ finger_message }}</td>
    <td>{{ badFingerCounter }}</td>
  </tr>
  <tr>
    <td>Percent Sweet Spot</td>
    <td>The percent of total time your hands spent in the well-established sweet spot.</td>
    <td>{{ sweetness }}</td>
    <td>{{ sweet_spot }}%</td>
  </tr>
</table>
</body>
</html>
